{% extends "base.html" %}
{% block title %}
    Routh-Hurwitz Table Generator
{% endblock %}
{% block content %}
<h1 class = "display-4">Routh-Hurwitz Table Generator</h4>
<p class = "h5">Enter your polynomial coefficients separated by comma ( , )</p>
<form action = "" method = "POST">
    <input style = "color: black;" type = "text" id = "polynomialInput" name = "polynomialInput" onkeyup = "updatePolynomial()">
    <button class = "blueButton" type = "submit">Go</button>
</form>
<p id = "polynomialLatex"></p>
<script>
    function updatePolynomial()
    {
        const polynomialInput = document.getElementById('polynomialInput');
        const polynomialHeader = document.getElementById('polynomialLatex');

        const polyValue = polynomialInput.value;

        var polyList = polyValue.split(',');
        for(var i = 0; i < polyList.length; i++) {
            polyList[i] = polyList[i].trim();
        }
        polyList = polyList.filter(Boolean);

        var polyStr = '';
        polyStr += polyList[0].toString();
        var expr = '';

        for(var i = 1; i < polyList.length; i++) {
            str_is_nan = isNaN(polyList[i].toString());
            if(str_is_nan) {
                polyStr += ' + '
                polyStr += '('
            }
            else {
                if(parseInt(polyList[i]) >= 0) {
                    polyStr += ' + '
                }
            }

            polyStr += polyList[i].toString();
            if(str_is_nan) {
                polyStr += ')'
            }

            if(i == 1) {
                expr = 's';
            }
            else {
                expr = 's^' + i.toString();
            }
            polyStr += expr;
        }

        polyStr = '$$\\Large ' + polyStr + '$$';
        polynomialHeader.innerText = `${polyStr}`;
        MathJax.typeset();
    }
</script>
{% endblock %}
{% block src %}{% endblock %}