{% extends "base.html" %}
{% block title %}
    Routh-Hurwitz Table Generator
{% endblock %}
{% block content %}
<h1 class="display-4">Routh-Hurwitz Table Generator</h4>
<div class = "container">
    <table class = "table-hover">
        {% for i in range(routhArr|count) %}
            <tbody>
                <tr>
                    {% for element in routhArr[i] %}
                        <td><strong>{{element}}</strong></td>
                    {% endfor %}
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block src %}{% endblock %}